.Wallpaper{
    height:720px;
    width:100%;
    background-color: black;
}
.prodbox{
    height:200px;
    width:100%;
    background-color: aqua;

}
.ing{
    height: 200px;
    width:100%;
    
}
